.linkcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overallnavigation {
  /* background-color: white; */
  padding-top: 2rem;
}

.navigation {
  /* padding-top: 4.8rem; */
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--black100);
  display: flex;
  gap: 2rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textcontainer {
  /* margin-top: 0.4rem; */
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
  margin-bottom: 0.4rem;
}

.statusbuttontext {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0px;
  color: var(--white);
  font-weight: 600;
}

.titlenavigation {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 0px;
  color: var(--textblack);
  font-family: "Inter", sans-serif;
}

.flexlinkcontainer {
  display: flex;
  padding-top: 1.3rem;
  padding-bottom: 1.2rem;
}

.linkcontainer:hover {
  border-bottom: 2px solid;
  border-color: var(--SVP-main);
}

.linkcontaineractive {
  border-bottom: 2px solid;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: var(--SVP-main);
}

.headernavcategoriescontainer {
  display: flex;
  cursor: pointer;
}

/* header navbox */
.navboxescontainer {
  display: flex;
  gap: 0.5rem;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: var(--black100);
}

.navboxestext {
  font-family: "Inter", sans-serif;
  color: var(--black400);
  font-weight: 500;
  font-size: 1rem;
  margin-right: 1rem;
  margin-bottom: 0px;
}
.navboxestextactive {
  font-family: "Inter", sans-serif;
  color: var(--SVP-main);
  font-weight: 500;
  font-size: 1rem;
  margin-right: 1rem;
  margin-bottom: 0px;
}

.imageicon {
  margin-left: 1rem;
}

.linkcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkcontainer:hover {
  border-bottom: 2px solid;
  border-color: var(--SVP-main);
}

.linkcontaineractive {
  border-bottom: 2px solid;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: var(--SVP-main);
}

.centercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navboxestext {
  font-family: "Inter", sans-serif;
  color: var(--black400);
  font-weight: 500;
  font-size: 1rem;
  margin-right: 1rem;
  margin-bottom: 0px;
}
.navboxestextactive {
  font-family: "Inter", sans-serif;
  color: var(--SVP-main);
  font-weight: 500;
  font-size: 1rem;
  margin-right: 1rem;
  margin-bottom: 0px;
}

.absolutecenter {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  border-radius: 8px;
  background-color: var(--SVP-main);
  padding: 12px 24px 12px 24px;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 500;
  width: fit-content;
  font-size: 1rem;
  border: none;
}

.button:hover {
  background-color: var(--SVP-main200);
  color: white;
}
.button:hover {
  background-color: var(--SVP-main400);
  color: white;
}

.innercontainer {
  width: 60%;
}

.innercontainer1 {
  width: fit-content;
}

.icon {
  margin-left: 0.3rem;
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  text-align: center;
  padding-top: 0.5rem;
  color: #9b9b9b;
}

.spacing {
  padding-bottom: 5rem;
}

.tablecontainer {
  margin-top: 1rem;
  /* border-top: 1px solid; */
  border-color: var(--black100);
}

.centericon1 {
  font-family: "Inter", sans-serif;
  color: var(--black400);
  font-size: 0.8rem;
  font-weight: 700;
}
