.overallnavigation {
  background-color: white;
  width: 90%;
  padding-top: 3rem;
  margin: 0 auto;
}

.navigation {
  /* padding-top: 4.8rem; */
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--black100);
  display: flex;
  gap: 2rem;
}

.textcontainer {
  /* margin-top: 0.4rem; */
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  margin-bottom: 0.4rem;
}

.titlenavigation {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--textblack);
  font-family: "Inter", sans-serif;
}

.flexlinkcontainer {
  display: flex;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.centercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header navbox */
.navboxescontainer {
  display: flex;
  gap: 0.5rem;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: var(--black100);
}

.navboxestext {
  font-family: "Inter", sans-serif;
  color: var(--black400);
  font-weight: 500;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.imageicon {
  margin-left: 1rem;
}

.linkcontainer:hover {
  border-bottom: 1px solid;
  border-color: var(--SVP-main);
}
